In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

In [2]:
!pip install apyori

Requirement already satisfied: apyori in c:\users\admin\anaconda3\lib\site-packages (1.1.2)

In [3]:
retail = pd.read_csv("C:\\Users\\Admin\\Downloads\\Retail.csv")
retail.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Transactions from the Database,NaN,NaN,#Transactions in which\n the item is bought,Support,NaN
1,"1 : { Pencils, Markers, Highlighters, Papers}",NaN,Pencils,2,0.2,NaN
2,"2 : {Markers, Erasers}",NaN,Markers,6,0.6,NaN
3,"3 : {Stapler Pins, Papers, Erasers, Card Holde...",NaN,Highlighters,3,0.3,NaN
4,"4 : {Papers, Erasers, Cad Holders}",NaN,Papers,4,0.4,NaN
5,"5 : {Markers, Post-it, Erasers}",NaN,Erasers,7,0.7,NaN
6,6 : {Envelop},NaN,Stapler Pins,3,0.3,NaN
7,"7 : {Markers, Erasers}",NaN,Card Holders,2,0.2,NaN
8,"8 : {Pencils, Markers, StaplerPins, Post-it, H...",NaN,Post-it,3,0.3,NaN
9,"9 : {StaplerPins, Post-it, Markers, Erasers}",NaN,Envelop,2,0.2,NaN

In [8]:
retail = retail.drop(['Unnamed: 1','Unnamed: 5'], axis=1)

In [9]:
retail.head()

,Unnamed: 0,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Transactions from the Database,NaN,#Transactions in which\n the item is bought,Support
1,"1 : { Pencils, Markers, Highlighters, Papers}",Pencils,2,0.2
2,"2 : {Markers, Erasers}",Markers,6,0.6
3,"3 : {Stapler Pins, Papers, Erasers, Card Holde...",Highlighters,3,0.3
4,"4 : {Papers, Erasers, Cad Holders}",Papers,4,0.4

In [ ]:
retail.shape

(17, 4)

In [ ]:
records = []
for i in range(0,17):
    records.append([str(retail.values[i,j]) for j in range(0,4)])

In [ ]:
records[0]

['1 : { Pencils, Markers, Highlighters, Papers}', 'Pencils', '2', '0.2']

In [ ]:
association_rules = apriori(records,min_support=0.0055 , min_confidence = 0.2 ,min_lift = 3,min_length = 2)
association_results = list(association_rules)

In [ ]:
print(len(association_results))

113

In [ ]:
print(association_results[0])

RelationRecord(items=frozenset({'#Transactions in which\n the item is bought', 'Construct item-sets with items that satisfy minimum support'}), support=0.058823529411764705, ordered_statistics=[OrderedStatistic(items_base=frozenset({'#Transactions in which\n the item is bought'}), items_add=frozenset({'Construct item-sets with items that satisfy minimum support'}), confidence=1.0, lift=17.0), OrderedStatistic(items_base=frozenset({'Construct item-sets with items that satisfy minimum support'}), items_add=frozenset({'#Transactions in which\n the item is bought'}), confidence=1.0, lift=17.0)])

In [ ]:
print(association_results[1])

RelationRecord(items=frozenset({'#Transactions in which\n the item is bought', 'Support\nP(Markers�Erasers)'}), support=0.058823529411764705, ordered_statistics=[OrderedStatistic(items_base=frozenset({'#Transactions in which\n the item is bought'}), items_add=frozenset({'Support\nP(Markers�Erasers)'}), confidence=1.0, lift=17.0), OrderedStatistic(items_base=frozenset({'Support\nP(Markers�Erasers)'}), items_add=frozenset({'#Transactions in which\n the item is bought'}), confidence=1.0, lift=17.0)])